#main-window #TabsToolbar {
  visibility: collapse !important;
}

/* "floating" urlbar */
#urlbar[breakout][breakout-extend]{
  top: 200px !important;
  left: 50% !important;
  max-width: 900px !important;
  width: 90% !important;
  transform: translateX(-50%);
  padding: 7px !important;
  font-size: 18px !important;
}
