#waybar {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: rgba(217, 216, 216, 1);
    background: #282a36;
} 

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 8px;
    color: #565f89;
    border: 3px solid rgba(9, 85, 225, 0);
    border-radius: 10px;
    min-width: 33px;
}

#workspaces button.visible {
    color: #a9b1d6;
}

#workspaces button.focused {
    border-top: 3px solid #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
    background-color: #a96d1f;
    color: white;
}

#workspaces button:hover {
    box-shadow: inherit;
    border-color: #bb9af7;
    color: #bb9af7;
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
    color: #7aa2f7;
}
#workspaces button.focused:hover {
    color: #bb9af7;
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-launcher,
#custom-power,
#custom-system-monitor,
#custom-workspaces {
    margin: 0px 0px 0px 10px;
    padding: 6px 6px; 
}

/* Clickable modules */
#custom-launcher,
#idle_inhibitor,
#custom-system-monitor,
#clock,
#tray,
#pulseaudio,
#network,
#custom-power,
#custom-workspaces {
    background-color: #44475a;
    border-radius: 20px;
    min-width: 40px;
}

#tray {
    padding: 0px 20px 0px 20px;
}

#clock {
    font-size: 18px;
    padding: 0px 20px 0px 20px;
    min-width: 180px;
} 

#custom-launcher {
    font-size: 25px;
    margin-left: 0px;
    margin-right: 12px;
}

#custom-power {
    font-size: 18px;
    margin-left: 12px;
    margin-right: 0px;
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
